/* ==UserStyle==
 * @name                Alt To Show Menubar
 * @name:zh-CN          按 Alt 显示菜单栏
 * @description         Show the horizontal menubar when it is focused or activated
 * @description:zh-CN   在焦点或激活状态下显示横向菜单栏
 * @author              Ryan
 * @version             0.1.0
 * @compatibility       Vivaldi 7.9
 * @homepageURL         https://github.com/benzBrake/VivaldiMods
==/UserStyle== */
.menubar.horizontal {
    transition-delay: 0.2s;

    &:not(:hover, :focus, :active, :focus-within) {
        display: none;
    }

    &:has(button[roles="menuitem"]:is(.highlighted, .focused)) {
        display: flex;
        transition-delay: 0;
        transition: all .2s ease-in-out;
    }
}
