/* 
 * Press to show menubar
 * @note VivaldiMods tweaks Github: https://github.com/benzBrake/VivaldiMods 
 */
.menubar.horizontal {
    display: none;
    transition-delay: 0.2s;

    &:has(button[roles="menuitem"]:is(.highlighted, .focused)) {
        display: flex;
        transition-delay: 0;
        transition: all .2s ease-in-out;
    }
}