/* 
 * Press to show menubar
 * @note VivaldiMods tweaks Github: https://github.com/benzBrake/VivaldiMods 
 */
.menubar.horizontal {
    transform: translateY(-100%);
    transition-delay: 0.2s;
    &:has(button[roles="menuitem"]:is(.highlighted, .focused)) {
        transform: translateY(0);
        transition-delay: 0;
        transition: transform .2s ease-in-out;
    }
}