/* 
 * Remove space of the above tab bar
 * @note VivaldiMods tweaks Github: https://github.com/benzBrake/VivaldiMods 
 */
#app {
    --tab-min-height: 30px;
}
.tabs-top.address-top#browser.win:not(.fullscreen, .disable-titlebar) #header {
    min-height: calc(var(--tab-min-height) / var(--uiZoomLevel));
}

.win.normal #tabs-tabbar-container.top,
.linux.normal #tabs-tabbar-container.top {
    padding-top: 0px;
}

.tab-position .tab .tab-header {
    flex: 0 0 calc(var(--tab-min-height) / var(--uiZoomLevel));
}

.tabs-top#browser.win .window-buttongroup button:not(.vivaldi) {
    height: calc(var(--tab-min-height) / var(--uiZoomLevel));
}

.vivaldi {
    margin: 0;
    height: calc(var(--tab-min-height) / var(--uiZoomLevel));
}