/* 
 * Simple Automate Bookmark-bar
 * @homepageURL https://forum.vivaldi.net/topic/64142/simple-automate-bookmark-bar-css-mod
 */
/* bottom bookmark-bar */
.bookmark-bar-bottom .bookmark-bar {margin-top: -28px; z-index: 1; transform: translateY(0); transition: transform .1s 0s !important;}
.bookmark-bar-bottom .bookmark-bar::before {content: ''; position: absolute; height: 6px; width: 100%; bottom: 100%;}
.bookmark-bar-bottom .bookmark-bar:not(:focus-within):not(:hover) {transform: translateY(100%);  transition: transform .1s 1s !important;}

/* top bookmark-bar */
.bookmark-bar-top:not(:has(.toolbar-editor)) .bookmark-bar {margin-bottom: -29px; z-index: 1; transform: translateY(0); transition: transform .1s ease-out 0s !important;}
.bookmark-bar-top:not(:has(.toolbar-editor)) .bookmark-bar::before {content: ''; position: absolute; height: 6px; width: 100%; top: 100%;}
/* A. trigger zone below lowest TOP bar */
.bookmark-bar-top:not(:has(.toolbar-editor)) .bookmark-bar:not(:focus-within):not(:hover) {transform: translateY(-100%);  transition: transform .1s 1s !important;}
/* B. trigger by focus/mouseover header, tabbar, or Mainbar */
/.address-top.bookmark-bar-top:not(:has(.toolbar-editor, #header:hover, .toolbar-mainbar:hover)) .bookmark-bar:not(:focus-within):not(:hover), 
:not(.address-top).bookmark-bar-top:not(:has(.toolbar-editor)) #header:not(:hover) ~ #main > .bookmark-bar:not(:focus-within):not(:hover) {transform: translateY(-100%); transition: transform .1s 1s !important;}
