/* 
 * Reposition Close Tab Button to favicon*
 * @note VivaldiMods tweaks Github: https://github.com/benzBrake/VivaldiMods 
 */
.tab-position {
	&>.tab {
		& .title {
			margin-right: 6px;
		}

		& .close {
			position: absolute;
			opacity: 0;
			background-color: var(--colorBgDarker);
			z-index: 99;
		}

		&:hover {
			& .close {
				opacity: 1;
				transition: opacity .2s;
			}

			& .favicon {
				opacity: 0;

				&:not(:has(~.close)) {
					opacity: 1;
				}
			}
		}
	}
}