/* VivaldiMods tweaks *******************************************************************/
/* Github: https://github.com/benzBrake/VivaldiMods *************************************/
/* Fx Floating Tabs, collect from: https://github.com/saschadiercks/vivaldi-ui-mods *****/
/****************************************************************************************/

:root {
	--tab-border-radius: 4px;
	--tab-block-margin: 4px;
	--tab-inline-margin: 4px;
	--tab-post-spacer-width: 15px;
	--tab-highlight-color: #c00;
	--tab-drop-shadow: 3px 3px 5px -1px rgba(0, 0, 0, .3);
	--tab-animation-speed: .3s;
	--tab-mainbar-height: 45px;
}

/* -- Tabs -- */
.tabs-top:not(.density-on) #tabs-tabbar-container:not(:has(#tabs-subcontainer)) #tabs-container .tab-position .tab.active,
.tabs-bottom:not(.density-on) #tabs-tabbar-container:not(:has(#tabs-subcontainer)) #tabs-container .tab-position .tab.active,
.tabs-top:not(.density-on) #tabs-subcontainer .tab-position .tab.active,
.tabs-bottom:not(.density-on) #tabs-subcontainer .tab-position .tab.active {
	height: var(--Height);
}

#tabs-tabbar-container {
	&.top {
		height: auto !important;
		border-width: 0;
		box-shadow: none !important;

		padding-right: var(--tab-post-spacer-width);

		.tab-strip>span+span>.tab-position:has(>.tab:not(.pinned))>.tab {
			margin-left: var(--tab-inline-margin);
		}

		& #tabs-container {
			padding-top: var(--tab-block-margin);
			padding-bottom: var(--tab-block-margin) !important;
		}

		&:has(#tabs-subcontainer) {
			padding-right: 0;
			padding-bottom: 0;
			height: auto !important;

			#tabs-subcontainer {
				padding-top: var(--tab-block-margin);
				padding-bottom: var(--tab-block-margin);
				padding-left: var(--tab-inline-margin);
				padding-right: var(--tab-inline-margin);
				flex: unset !important;
			}
		}
	}

	&.bottom {
		margin-top: var(--tab-block-margin);
		border-width: 0;
		box-shadow: none !important;

		.tab-strip>span+span .tab:not(.pinned) {
			margin-right: var(--tab-inline-margin);
		}
	}

	&:is(.left, .right) {
		padding-inline: var(--tab-inline-margin);

		.tab-strip>span+span .tab:not(.pinned) {
			margin-top: var(--tab-inline-margin);
		}

		.newtab {
			margin-top: var(--tab-block-margin);
		}

		.button-toolbar.toggle-trash {
			margin-bottom: var(--tab-block-margin);
		}
	}


	.newtab>button {
		margin-left: var(--tab-inline-margin);
		transition: all var(--tab-animation-speed) ease;

		&:hover {
			background-color: var(--colorBg);
			color: var(--colorFg);
			box-shadow: var(--tab-drop-shadow);
		}
	}

	.button-toolbar.toggle-trash>button {
		transition: all var(--tab-animation-speed) ease;

		&:hover {
			background-color: var(--colorBg);
			color: var(--colorFg);
			box-shadow: var(--tab-drop-shadow);
		}
	}
}

#browser.color-behind-tabs-on .tab-position .tab.active.active {
	overflow: hidden;
}

.tab-position {
	.tab {
		transition: all var(--tab-animation-speed) ease;
		border-radius: var(--tab-border-radius) !important;

		* {
			cursor: pointer;
		}

		/* overwrite potential chrome mods */
		&::after,
		&::before {
			display: none;
		}

		.close {
			background-color: transparent;
			border-radius: 99rem;
		}

		&.active,
		&:hover {
			box-shadow: var(--tab-drop-shadow);
		}
	}
}

/* -- tabs horizontal scrolling enabled --*/
.horizontal-scrolling {
	&.tab-strip {
		padding-top: unset !important;
		margin-top: unset !important;
	}
}

/* -- highlight tab with background audio -- */
.tab.audio-on:not(.active) {
	transition: all var(--tab-animation-speed) ease;
	color: var(--colorHighlightBg, --tab-highlight-color);
	box-shadow: var(--tab-drop-shadow);

	.tab-header {
		background-color: var(--colorBg);
	}
}

/* -- Main Bar -- */
.mainbar {
	&>.toolbar-mainbar {
		align-items: stretch;
		height: var(--tab-mainbar-height);
		padding: var(--tab-inline-margin);
	}
}

.toolbar-mainbar .profile-popup {
	margin-right: var(--tab-post-spacer-width);
}