/* ==UserStyle==
 * @name                Firefox Orange App Button
 * @name:zh-CN          仿 Firefox 橙色按钮
 * @description         Change Vivaldi's app button to Firefox orange
 * @description:zh-CN   修改 Vivaldi 的应用按钮为火狐橙
 * @author              Ryan
 * @version             0.1.1
 * @compatibility       Vivaldi 7.9
 * @homepageURL         https://github.com/benzBrake/VivaldiMods
==/UserStyle== */
#tabs-tabbar-container {
    --menuWidth: 92px;
    --menuText: "Firefox";
    --ffIconSize: 16px;
    --ffIconGap: 6px;
}
#browser.maximized .vivaldi {
    justify-content: revert;
    &:after {
        content: var(--menuText);
        inset: revert;
        left: calc(var(--ffIconSize) + var(--ffIconGap));
    }
}
.vivaldi {
    --menuWidth: 80px;
    display: flex !important;
    background: linear-gradient(rgb(247, 182, 82), rgb(215, 98, 10) 95%) !important;
    border-radius: 6px;
    left: 4px;

    &>:is(.vivaldi-v, .expand-arrow, .burger-icon) {
        display: none;
    }

    &::before {
        content: "";
        display: inline-block;
        width: var(--ffIconSize);
        height: var(--ffIconSize);
        background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M190.368%20150.591c.157.009.079.003%200%200zm-57.874-28.933c.158.008.079.003%200%200zm346.228%2044.674c-10.445-25.123-31.6-52.248-48.211-60.82%2013.52%2026.5%2021.345%2053.093%2024.335%2072.935%200%20.04.015.136.047.4-27.175-67.732-73.254-95.047-110.886-154.512-1.9-3.008-3.805-6.022-5.661-9.2a73.237%2073.237%200%200%201-2.646-4.972%2043.757%2043.757%200%200%201-3.585-9.5.625.625%200%200%200-.546-.644.8.8%200%200%200-.451%200c-.033.011-.084.051-.119.065-.053.02-.12.069-.176.095.026-.036.083-.117.1-.135-53.437%2031.3-75.587%2086.093-81.282%20120.97a128.057%20128.057%200%200%200-47.624%2012.153%206.144%206.144%200%200%200-3.041%207.63%206.034%206.034%200%200%200%208.192%203.525%20116.175%20116.175%200%200%201%2041.481-10.826c.468-.033.937-.062%201.405-.1a117.624%20117.624%200%200%201%205.932-.211%20120.831%20120.831%200%200%201%2034.491%204.777c.654.192%201.295.414%201.946.616a120.15%20120.15%200%200%201%205.539%201.842%20121.852%20121.852%200%200%201%203.992%201.564c1.074.434%202.148.868%203.206%201.331a118.453%20118.453%200%200%201%204.9%202.307c.743.368%201.485.735%202.217%201.117a120.535%20120.535%200%200%201%204.675%202.587%20107.785%20107.785%200%200%201%202.952%201.776%20123.018%20123.018%200%200%201%2042.028%2043.477c-12.833-9.015-35.81-17.918-57.947-14.068%2086.441%2043.214%2063.234%20192.027-56.545%20186.408a106.7%20106.7%200%200%201-31.271-6.031%20132.461%20132.461%200%200%201-7.059-2.886c-1.356-.618-2.711-1.243-4.051-1.935-29.349-15.168-53.583-43.833-56.611-78.643%200%200%2011.093-41.335%2079.433-41.335%207.388%200%2028.508-20.614%2028.9-26.593-.09-1.953-41.917-18.59-58.223-34.656-8.714-8.585-12.851-12.723-16.514-15.829a71.7%2071.7%200%200%200-6.225-4.7%20111.335%20111.335%200%200%201-.675-58.733c-24.687%2011.242-43.89%2029.011-57.849%2044.7h-.111c-9.528-12.067-8.855-51.873-8.312-60.184-.114-.516-7.107%203.63-8.024%204.254a175.21%20175.21%200%200%200-23.486%2020.12%20210.5%20210.5%200%200%200-22.443%2026.913c0%20.012-.007.025-.011.037%200-.012.007-.025.011-.038a202.837%20202.837%200%200%200-32.244%2072.81c-.058.265-2.29%2010.054-3.92%2022.147a265.794%20265.794%200%200%200-.769%205.651c-.558%203.636-.992%207.6-1.42%2013.767-.019.239-.031.474-.048.712a591.152%20591.152%200%200%200-.481%207.995c0%20.411-.025.816-.025%201.227%200%20132.709%20107.6%20240.29%20240.324%20240.29%20118.865%200%20217.559-86.288%20236.882-199.63.407-3.075.732-6.168%201.092-9.27%204.777-41.21-.53-84.525-15.588-120.747zm-164.068%2072.1z%22%2F%3E%3C%2Fsvg%3E) center/contain no-repeat;
    }

    &:after {
        color: white;
        content: var(--menuText);
        display: inline-block;
        margin-left: var(--ffIconGap);
        font-weight: bold;
    }
}